[2020-12-11 23:39] normanjaeckel opened #17 "Missing $"
In https://github.com/OpenSlides/openslides-permission-service/blob/573a84541d545a7873061969341ab53030ec6b2f/internal/allowed/helpers.go#L148 there is a `$` missing.

[2020-12-11 23:40] normanjaeckel commented on #17
Also in https://github.com/OpenSlides/openslides-permission-service/blob/master/internal/tests/shared.go#L176

[2020-12-20 16:34] normanjaeckel opened #23 "Implement list_of_speakers.delete"

[2020-12-20 16:34] normanjaeckel opened #24 "Implement speaker.create"

[2020-12-20 16:35] normanjaeckel opened #25 "Implement speaker.delete"

[2020-12-20 16:35] normanjaeckel opened #26 "Implement assignment_candidate.create"

[2020-12-20 16:36] normanjaeckel opened #27 "Implement assignment_candidate.delete"

[2020-12-20 16:36] normanjaeckel opened #28 "Implement assignment_candidate.sort"

[2020-12-20 16:37] normanjaeckel opened #29 "Implement committee.create"

[2020-12-20 16:37] normanjaeckel opened #30 "Implement committee.delete"

[2020-12-20 16:37] normanjaeckel opened #31 "Implement committee.update"

[2020-12-20 16:37] normanjaeckel opened #32 "Implement meeting.create"

[2020-12-20 16:37] normanjaeckel opened #33 "Implement meeting.update"

[2020-12-20 16:37] normanjaeckel opened #34 "Implement meeting.delete"

[2020-12-20 16:38] normanjaeckel opened #35 "Implement motion_submitter.create"

[2020-12-20 16:38] normanjaeckel opened #36 "Implement motion.create"

[2020-12-20 16:38] normanjaeckel opened #37 "Implement motion.delete"

[2020-12-20 16:38] normanjaeckel opened #38 "Implement motion.set_state"

[2020-12-20 16:38] normanjaeckel opened #39 "Implement motion.update"

[2020-12-20 16:38] normanjaeckel opened #40 "Implement motion_comment.create"

[2020-12-20 16:39] normanjaeckel opened #41 "Implement motion_comment.update"

[2020-12-20 16:39] normanjaeckel opened #42 "Implement motion_comment.delete"

[2020-12-20 16:39] normanjaeckel opened #43 "Implement personal_note.create"

[2020-12-20 16:39] normanjaeckel opened #44 "Implement personal_note.delete"

[2020-12-20 16:39] normanjaeckel opened #45 "Implement personal_note.update"

[2020-12-20 16:39] normanjaeckel opened #46 "Implement role.create"

[2020-12-20 16:39] normanjaeckel opened #47 "Implement role.delete"

[2020-12-20 16:40] normanjaeckel opened #48 "Implement role.update"

[2020-12-20 16:40] normanjaeckel opened #49 "Implement role.update"

[2020-12-20 16:40] normanjaeckel opened #50 "Implement user.create"

[2020-12-20 16:40] normanjaeckel opened #51 "Implement user.delete"

[2020-12-20 16:40] normanjaeckel opened #52 "Implement user.set_password"

[2020-12-20 16:40] normanjaeckel opened #53 "Implement user.generate_new_password"

[2020-12-20 16:40] normanjaeckel opened #54 "Implement user.reset_password_to_default"

[2020-12-20 16:41] normanjaeckel opened #55 "Implement user.set_password_self"

[2020-12-20 16:41] normanjaeckel opened #56 "Implement user.update"

[2020-12-20 16:41] normanjaeckel opened #57 "Implement user.update_self"

[2020-12-20 16:42] normanjaeckel commented on #25
Everybody can delete himself (user_id == request user). Also the manager (agenda.can_manage_list_of_speakers) can delete speakers.

[2020-12-20 16:46] normanjaeckel commented on #45
Only for request user himself (user_id == request user).

[2020-12-20 16:46] normanjaeckel commented on #44
Only for request user himself (user_id == request user).

[2020-12-20 16:47] normanjaeckel commented on #43
Only for request user himself (user_id == request user).

[2020-12-20 16:53] normanjaeckel commented on #36
If it is an amendment creation then motion.can_create_amendment is required, else motion.can_create is required.

If motion.can_manage is not present, only a whitelist of fields can be used: https://github.com/OpenSlides/OpenSlides/blob/master/server/openslides/motions/views.py#L168 (also parent_id and amendment_paragraphs if it is an amendment).

[2020-12-20 16:57] normanjaeckel commented on #37
Managers (motion.can_manage) can do this and also every submitter (motion -> submitter_ids -> motion_submitter -> user_id) if motion -> state_id -> motion_state -> allow_submitter_edit == True.

[2020-12-20 17:02] normanjaeckel commented on #38
Either motion.can_manage_metadata or request user is submitter motion -> submitter_ids -> motion_submitter -> user_id and motion -> state_id -> motion_state -> allow_submitter_edit == True.

[2020-12-20 17:04] normanjaeckel commented on #35
Only managers with motion.can_manage can add new submitters to any motion. @FinnStutzenstein Correct?

[2020-12-20 17:10] normanjaeckel commented on #39
Managers with motion.can_manage can do everything.

Submitters (with allow_submitter_edit enabled, see #37) can change title, text, reason and amendment_paragraphs. In this case we must eventually clear supporters. Maybe just send `clearingSupportersPossiblyRequired: true`

[2020-12-21 00:17] ostcar commented on #17
Both is solved

[2020-12-21 00:17] #17 closed

[2020-12-21 14:31] ostcar commented on #43
I don't think there is a user_id in the payload. Only a content_object_id.

Can everyone != anonymous create personal_notes? Does the user need read permissions for this object? What if the read-permission changes? Is the user still allowed to update the note?

[2020-12-22 15:43] normanjaeckel commented on #43
I think every user != anonymous can create his own personal notes regardless of a can see permission.

[2020-12-22 15:50] normanjaeckel opened #62 "Implement read permission: personal_note"
Collection personal_note can be read only by the user given in user_id property i. e. only by the user himself.

[2020-12-22 15:55] normanjaeckel opened #63 "Implement read permission: assignment and assignment_candidate"
For the following collections you need `assingment.can_see`:
- assignment
- assignment_candidate

[2020-12-22 16:03] normanjaeckel opened #64 "Implement read permission: poll, option. vote"
Reading a poll and its related options and votes depends on the content object:

For assignment you need assignment.can_see, for motion motion.can_see.

If the poll is not in published state (poll.state != 4) some fields have to be restricted: See https://github.com/OpenSlides/OpenSlides/blob/ea277adf9ead6fabc0959524db377d996c4a6ea1/server/openslides/poll/access_permissions.py#L112

This might be

[2020-12-22 16:07] normanjaeckel opened #65 "Implement read permission: agenda_item and topic"
agenda_item and topic can be seen with agenda.can_see.

For agenda_items with is_hidden == True you need agenda.can_manage. For agenda_items with is_internal == True you need agenda.can_see_internal_items

[2020-12-22 16:07] normanjaeckel commented on #65
See https://github.com/OpenSlides/OpenSlides/blob/ea277adf9ead6fabc0959524db377d996c4a6ea1/server/openslides/agenda/access_permissions.py#L46

[2020-12-22 16:09] normanjaeckel commented on #65
But even if you can see agenda_items, some keys are restricted: `duration` can only be read with `agenda.can_see_internal_items`. `comment` can only be read with `agenda.can_manage`.

[2020-12-22 16:10] normanjaeckel opened #66 "Implement read permission: list_of_speakers and speaker"
You need agenda.can_see_list_of_speakers.

[2020-12-22 16:15] normanjaeckel opened #67 "Implement read permission: group"
Groups can be seen by everybody who is in this meeting (`meeting.user_ids`). If anonymous is enabled, everybody can see all groups in this meeting.

[2020-12-24 06:50] #62 closed

[2020-12-26 12:25] #63 closed

[2020-12-26 16:11] ostcar commented on #65
In the models.yml, `agenda_item.is_internal` and `agenda_item.is_hidden` are two distinct fields. What if a agenda_item is hidden and internal? Is `agenda.can_see_internal_items` enough to see it?

https://github.com/OpenSlides/OpenSlides/blob/a3dce30e1df12f72316eafa2d42461a5c07487d8/docs/models.yml#L832

[2020-12-26 17:45] ostcar commented on #65
@normanjaeckel in pr #72 I implmented, that a hidden and internal-item can only be seen with the can_manage perm

If this was not ok, please reopen.

[2020-12-26 18:43] ostcar commented on #39
@FinnStutzenstein Is this the only case where additionalData is needed? Maybe we can find another solution for it? For example, we could make two actions out of it (or a flag inside the data).

[code]

[2020-12-26 19:55] ostcar commented on #36
@normanjaeckel In the current [permissions.yml](https://github.com/OpenSlides/openslides-permission-service/blob/21103de88778e7bc70be6f298980956d1567e340/permissions.yml), motion.can_create_amendment and motion.can_create are two separate permissions. Is this by purpose?

[2020-12-26 19:58] ostcar commented on #36
@normanjaeckel how can I find out if it is an amendment? With the key "origin_id"?

[2020-12-27 09:29] ostcar commented on #64
What is the required permission, when there is a stand alone poll? https://github.com/OpenSlides/OpenSlides/blob/a3dce30e1df12f72316eafa2d42461a5c07487d8/docs/models.yml#L1501

[2020-12-27 15:02] normanjaeckel commented on #64
I dont know. Lets assume agenda.can_manage for unlimited access and limited read access for all meeting participants (with anonymous if enabled).

[2020-12-29 20:54] normanjaeckel commented on #28
I think assignment .can_manage is required (but the respecitve meeting of course),

[2020-12-29 20:57] normanjaeckel commented on #26
`assignments.can_nominate_self` if the user wants to create "himself", for all others: `assignments.can_nominate_other`.

During voting (assignment phase) you have to have `assignment.can_manage`

[2020-12-29 20:57] normanjaeckel commented on #27
The same as for assignment_candidate.create.

But for deleting others you need `assignment.can_manage`. `assignment.can_nominate_other` is not sufficient.

[2020-12-29 23:01] normanjaeckel commented on #23
Only superuser. It is an internal action.

[2020-12-29 23:03] normanjaeckel opened #76 "Set all organisation level actions to superuser"
Please set all orga level actions to be used by superuser only. For the first draft ...

[2020-12-30 00:22] normanjaeckel opened #77 "Implement read permission: committee"

[2020-12-30 00:22] normanjaeckel opened #78 "Implement read permission: mediafile"

[2020-12-30 00:22] normanjaeckel opened #79 "Implement read permission: meeting"

[2020-12-30 00:22] normanjaeckel opened #80 "Implement read permission: motion"

[2020-12-30 00:23] normanjaeckel opened #81 "Implement read permission: motion_block"

[2020-12-30 00:23] normanjaeckel opened #82 "Implement read permission: motion_category"

[2020-12-30 00:23] normanjaeckel opened #83 "Implement read permission: motion_change_recommendation"

[2020-12-30 00:23] normanjaeckel opened #84 "Implement read permission: motion_comment"

[2020-12-30 00:23] normanjaeckel opened #85 "Implement read permission: motion_comment_section"

[2020-12-30 00:23] normanjaeckel opened #86 "Implement read permission: motion_state"

[2020-12-30 00:23] normanjaeckel opened #87 "Implement read permission: motion_statute_paragraph"

[2020-12-30 00:23] normanjaeckel opened #88 "Implement read permission: motion_submitter"

[2020-12-30 00:24] normanjaeckel opened #89 "Implement read permission: motion_workflow"

[2020-12-30 00:24] normanjaeckel opened #90 "Implement read permission: organisation"

[2020-12-30 00:24] normanjaeckel opened #91 "Implement read permission: projection"

[2020-12-30 00:24] normanjaeckel opened #92 "Implement read permission: projectiondefault"

[2020-12-30 00:24] normanjaeckel opened #93 "Implement read permission: projector"

[2020-12-30 00:24] normanjaeckel opened #94 "Implement read permission: projector_countdown"

[2020-12-30 00:24] normanjaeckel opened #95 "Implement read permission: projector_message"

[2020-12-30 00:24] normanjaeckel opened #96 "Implement read permission: resource"

[2020-12-30 00:25] normanjaeckel opened #97 "Implement read permission: role"

[2020-12-30 00:26] normanjaeckel opened #98 "Implement read permission: tag"
All users of this meeting (including anonymous, if enabled) can see it.

[2020-12-30 00:26] normanjaeckel opened #99 "Implement read permission: user"

[2020-12-30 00:31] normanjaeckel commented on #93
`meeting.can_see_projector` is required.

[2020-12-30 00:31] normanjaeckel commented on #92
`meeting.can_see_projector` is required.

[2020-12-30 00:32] normanjaeckel commented on #91
`meeting.can_see_projector` is required.

[2020-12-30 00:33] normanjaeckel commented on #76
Orga level read permissions? I am not sure. Maybe set them for free for everybody for the moment.

[2020-12-30 00:33] normanjaeckel commented on #95
`meeting.can_see_projector` is required.

[2020-12-30 00:34] normanjaeckel commented on #94
`meeting.can_see_projector` is required.

[2020-12-30 00:39] normanjaeckel commented on #79
Every member of the meeting (including anonymous, if enabled) can see the meeting and all its properties.

@FinnStutzenstein Are there some secret settings like passwords for jitsi room etc.?

[2020-12-30 00:45] normanjaeckel commented on #78
`mediafile.can_manage` can see them all. If is_public is true, also `mediafile.can_see` would be sufficient.

@FinnStutzenstein: This is a small change from OS3: See https://github.com/OpenSlides/OpenSlides/blob/master/server/openslides/mediafiles/access_permissions.py. But I think the manage permission should be relevant and not if someone is superuser.

[2020-12-30 00:46] normanjaeckel commented on #82
`motion.can_see` is required.

[2020-12-30 00:46] normanjaeckel commented on #87
`motion.can_see` is required.

[2020-12-30 00:47] normanjaeckel commented on #81
`motion.can_see` is required. MotionBlocks with internal == True can only be see with `motion.can_manage`

[2020-12-30 00:48] normanjaeckel commented on #86
`motion.can_see` is required.

[2020-12-30 00:48] normanjaeckel commented on #89
`motion.can_see` is required.

[2020-12-30 00:51] normanjaeckel commented on #85
If the user has `motion.can_manage`, he can see all motion comment sections. If not, he needs `motion.can_see`` AND has to be in at least one of the groups referenced in `read_group_ids`. See https://github.com/OpenSlides/OpenSlides/blob/master/server/openslides/motions/access_permissions.py#L114

[2020-12-30 00:52] normanjaeckel commented on #83
`motion.can_see` is required. Internal motion change recommendations (with internal == True) can only be seen with `motion.can_manage`. See https://github.com/OpenSlides/OpenSlides/blob/master/server/openslides/motions/access_permissions.py#L86

[2020-12-30 00:57] normanjaeckel commented on #84
The user must be able to see at least one field of the motion and has to be in the read_groups_id. See https://github.com/OpenSlides/OpenSlides/blob/master/server/openslides/motions/access_permissions.py#L75

[2020-12-30 01:01] normanjaeckel commented on #80
User with `motions.can_manage` can see all motions. All others must at least have `motions.can_see` and they must pass some extra checks, see https://github.com/OpenSlides/OpenSlides/blob/master/server/openslides/motions/access_permissions.py#L13: Check the field restrictions of the state of the motions. If this field is an empty list, the motion is free. If not, it is available only if the user f

[2020-12-30 01:03] normanjaeckel commented on #88
Everybody who can see the motion can also see the submitters.

[2020-12-30 01:06] normanjaeckel commented on #99
This is hard. Please prepare different levels of read access according to the sets described here: https://github.com/OpenSlides/OpenSlides/blob/master/server/openslides/users/access_permissions.py#L38

Then we look together to all fields and sort them together. Maybe in a phone call.

[2020-12-31 08:31] ostcar commented on #79
I added a implementation, where a member can see every field.

@FinnStutzenstein If this is correct, then please close this issue

[2020-12-31 08:35] #98 closed

[2020-12-31 08:35] #82 closed

[2020-12-31 08:35] #86 closed

[2020-12-31 08:35] #89 closed

[2020-12-31 08:35] #87 closed

[2020-12-31 09:18] ostcar commented on #64
@FinnStutzenstein can you give me a positive list of fields that can be seen by non-managers when the poll is not published?

[2020-12-31 09:29] #78 closed

[2020-12-31 09:36] ostcar commented on #76
The current implementation has a "development-mode" enabled. Every action or collection that is not implemented can be seen by everyone.

When every action is implemented, i will remove this "development-mode".

Until we have decided how to handle organisations, there is nothing to do.

The superuser is currently not checked. First, I want to discuss the "additional-data" return value.

[2020-12-31 15:18] ostcar commented on #80
The values in the restrictions fields are `motions.*` But the permissions are called `motion.*` Could you change this in the models.yml and the backend? I will implement it with motion as singular.

[2020-12-31 15:35] ostcar commented on #84
Is there a case where the user can see only some fields? When I understand #80 correctly, then a user can either see all fields or non of the fields.

[2020-12-31 15:37] ostcar commented on #84
There is no field `read_groups_id` in the motion_comment.

https://github.com/OpenSlides/OpenSlides/blob/a3dce30e1df12f72316eafa2d42461a5c07487d8/docs/models.yml#L1165

[2020-12-31 15:53] #81 closed

[2020-12-31 15:53] #88 closed

[2021-01-01 11:48] ostcar commented on #26
There are three phases: https://github.com/OpenSlides/OpenSlides/blob/ea277adf9ead6fabc0959524db377d996c4a6ea1/server/openslides/assignments/models.py#L100-L102

I think, only the manager can create candidates in phase 1 and 2. So only in the phase 0 the permissions "can_nomiate_self" and "can_nomiate_other" are relevant.

I implement it this way. If I am wrong, then please reopen

[2021-01-01 12:04] ostcar commented on #28
@normanjaeckel  Please fix this in the backend. If only one permission check is required, then a `Generic permission check` is possible. See https://github.com/OpenSlides/openslides-backend/pull/370

[2021-01-01 12:11] #23 closed

[2021-01-01 23:38] ostcar commented on #84
See Motion comment section

[2021-01-02 00:08] ostcar commented on #99
New fields

Physical person - little
Demo user - little
Role id -little
120 - 134 superuser

[2021-01-02 19:59] normanjaeckel commented on #64
Votes: Own vote and delegated vote are visible with *.can_see. Else you need *.can_manage or poll must be published and you have *.can_see

[2021-01-02 20:00] normanjaeckel commented on #64
Option: Visible with *.can_see and poll is published. If poll is not published you need *.can_manage. If not (but you have at least *.can_see), the follwing fields a restricted: yes, no, abstain.

[2021-01-02 20:12] normanjaeckel commented on #64
Poll: The same as for option: The following fields are restricted: votesvalid, votesinvalid, votescast, voted_ids, global_yes, global_no, global_abstain

[2021-01-02 20:13] normanjaeckel commented on #64
Attention: For motions it is motion.can_manage_polls and for assignment it is only assignment.can_manage.

[2021-01-03 10:24] normanjaeckel commented on #36
`parent_id` should be None if it is not an amendment and should be set if it is. `origin` is something else and has nothing to do with amendments.

[2021-01-03 15:40] ostcar commented on #36
I already did this

[2021-01-03 15:40] #36 closed

[2021-01-04 19:56] #76 closed

[2021-01-04 20:05] normanjaeckel commented on #24
If users wants to add himself to list of speakers (via speaker creation) he has to have `agenda.can_be_speaker`. To add someone else he must have `agenda.can_manage_list_of_speakers`.

[2021-01-04 20:16] normanjaeckel commented on #66
You must also be able to see list of speakers and speaker if you are yourself on the list of speakers.

[2021-01-04 20:23] normanjaeckel opened #106 "Motions perms"
[code]

[2021-01-05 06:55] FinnStutzenstein commented on #39
I think it is currently the only case, yes. But splitting the update actions into two actions or add additional properties in the client (you've proposed clear_supporter) is not good since the client should not know about this. This should not be a big problem since it can be well tested as well as the code for additional data is (was?) there, so IMO we should keep it. Also, maybe we get new cases

[2021-01-05 06:57] FinnStutzenstein commented on #35
No, you just need `motion.can_manage_metadata`.

[2021-01-05 17:56] #106 closed

[2021-01-06 08:11] ostcar commented on #35
@normanjaeckel In this case, please fix this in the backend

[2021-01-06 18:48] normanjaeckel commented on #35
Will be done with https://github.com/OpenSlides/openslides-backend/pull/380

[2021-01-06 18:50] normanjaeckel commented on #28
Will be done with https://github.com/OpenSlides/openslides-backend/pull/380

[2021-01-06 19:09] ostcar commented on #28
I reopen this as a reminder, that I have to regenerate the generic actions

[2021-01-06 19:10] ostcar commented on #35
I have to regenerate this in the permission service

[2021-01-06 19:36] normanjaeckel commented on #35
You can do it now (or later of course).

[2021-01-07 10:38] FinnStutzenstein opened #109 "New permission structure"
[code]

[2021-01-07 12:53] ostcar commented on #109
@normanjaeckel Finn and Emauel talked about this. Should I import it like this? If you like, I can create a pull request, so you can better see a diff.

[2021-01-07 16:13] normanjaeckel commented on #109
See #111

[2021-01-07 16:13] ostcar opened #112 "superadmin can not see personal_notes"

[2021-01-07 17:44] emanuelschuetze commented on #109
merged

[2021-01-07 17:44] #109 closed

[2021-01-08 07:22] ostcar opened #114 "What has changed after #111"
Please tell me what has changed after #111

[2021-01-08 09:21] normanjaeckel commented on #95
Changed to `projector.can_see`

[2021-01-08 09:21] normanjaeckel commented on #94
Changed to `projector.can_see`

[2021-01-08 09:21] normanjaeckel commented on #93
Changed to `projector.can_see`

[2021-01-08 09:22] normanjaeckel commented on #92
Changed to `projector.can_see`

[2021-01-08 09:22] normanjaeckel commented on #91
Changed to `projector.can_see`

[2021-01-08 09:24] normanjaeckel commented on #85
In the second case he needs also `motion.can_see_internal` if it is an internal motion (configured via state).

[2021-01-08 09:29] normanjaeckel commented on #83
`motion.can_see` is not sufficient if the motion itself is internal. Then you need `motion.can_see_internal`.

[2021-01-08 09:30] normanjaeckel commented on #80
Also `motion.can_see_internal` is required for internal motions.

[2021-01-08 09:33] normanjaeckel commented on #67
Of course: If anonymous is enabled only anonymous and meeting members can see them not other logged-in users.

[2021-01-08 09:33] normanjaeckel commented on #66
The permissions changed to `list_of_speakers.can_see`

[2021-01-08 09:36] normanjaeckel commented on #65
The permissions changed: They are now called `agenda_item.can_see`, `agenda_item.can_see_internal` and `agenda_item.can_manage`

[2021-01-08 09:40] normanjaeckel commented on #64
Keep in mind that in simple case polls and options and votes of internal motions can not be seen only `motion.can_see `but `motion.can_see_internal`

[2021-01-08 09:45] #112 closed

[2021-01-08 09:48] normanjaeckel commented on #79
Please restrict some keys:
`meeting.can_see_frontpage` is required for welcome_title and welcome_text of the frontpage.
`meeting.can_see_livestream` is required for conference_stream_url, conference_stream_poster_url.

[2021-01-08 09:48] normanjaeckel commented on #79
Also: `enable_anonymous` should be always present, even for anonymous if anonymous is not enabled.

[2021-01-08 10:25] ostcar commented on #64
This was already done

[2021-01-08 10:26] ostcar commented on #65
already done

[2021-01-08 10:26] #65 closed

[2021-01-08 10:27] ostcar commented on #66
already done

[2021-01-08 10:27] #66 closed

[2021-01-08 10:29] ostcar commented on #67
Already done

[2021-01-08 10:29] #67 closed

[2021-01-08 10:36] ostcar commented on #80
already done

[2021-01-08 10:36] #80 closed

[2021-01-08 11:04] ostcar commented on #91
already done

[2021-01-08 11:04] #91 closed

[2021-01-08 11:05] ostcar commented on #92
already done

[2021-01-08 11:05] #92 closed

[2021-01-08 11:08] ostcar commented on #93
already done

[2021-01-08 11:08] #93 closed

[2021-01-08 11:08] ostcar commented on #94
already done

[2021-01-08 11:08] #94 closed

[2021-01-08 11:08] ostcar commented on #95
already done

[2021-01-08 11:08] #95 closed

[2021-01-08 11:09] ostcar commented on #114
@normanjaeckel Can this be closed?

[2021-01-08 11:12] #83 closed

[2021-01-08 11:12] #85 closed

[2021-01-08 11:58] normanjaeckel commented on #99
See https://github.com/OpenSlides/OpenSlides/pull/5802 Some fields are restricted and only visable inside a meeting.

[2021-01-08 14:43] normanjaeckel commented on #114
No, all write perms are still open.

[2021-01-08 14:48] normanjaeckel commented on #39
Submitters can not edit motions they can not see according to state restrictions.

[2021-01-08 14:49] normanjaeckel commented on #38
But motions that the user can not see (including state restrictions) can not be changed.

[2021-01-08 14:49] normanjaeckel commented on #37
But motions that the user can not see (including state restrictions) can not be changed.

[2021-01-08 14:51] normanjaeckel commented on #35
Please check if this is correctly implemented because we have no permission strings in the backend anymore.

[2021-01-08 14:53] normanjaeckel commented on #28
Please check this. We do not have any backend permission strings now.

[2021-01-08 14:55] normanjaeckel commented on #26
Keep in mind that during voting, assignment.can_manage is not sufficient if the user wants to nominate himself.

[2021-01-08 14:56] normanjaeckel commented on #27
Deleting yourself is possible in every state with assignment.can_manage.

[2021-01-08 14:56] normanjaeckel commented on #25
Permission change to `list_of_speakers.can_manage`

[2021-01-08 14:57] normanjaeckel commented on #24
Permission change to something with `list_of_speakers`

[2021-01-08 15:03] normanjaeckel commented on #114
https://github.com/OpenSlides/openslides-permission-service/blob/55d5c676a7707c25d52198b3492da011113d604f/internal/collection/autogen.go#L89

https://github.com/OpenSlides/openslides-permission-service/blob/55d5c676a7707c25d52198b3492da011113d604f/internal/collection/autogen.go#L90

Here you have two small errors. `motion` instead of `motions`

[2021-01-08 15:03] normanjaeckel commented on #114
https://github.com/OpenSlides/openslides-permission-service/blob/55d5c676a7707c25d52198b3492da011113d604f/internal/collection/autogen.go#L103

Here another typo

[2021-01-08 15:04] normanjaeckel commented on #114
https://github.com/OpenSlides/openslides-permission-service/blob/55d5c676a7707c25d52198b3492da011113d604f/internal/collection/autogen.go#L137

You can not change your own password. So this might be a special case.

[2021-01-08 15:06] normanjaeckel commented on #114
https://github.com/OpenSlides/openslides-permission-service/blob/55d5c676a7707c25d52198b3492da011113d604f/internal/collection/autogen.go#L94

This is also a special case. Also for motion.update: Only users with "motion.can_support" can make themnselves as supporters.

[2021-01-08 15:07] normanjaeckel commented on #39
Also care about supporters. Only with `motion.can_support` you can make yourself as supporter.

[2021-01-08 15:13] normanjaeckel commented on #90
Everybody including anonymous can see the organisation and its fields.

[2021-01-08 16:25] normanjaeckel commented on #97
When https://github.com/OpenSlides/OpenSlides/pull/5802 is merged this collection does not exist any more.

[2021-01-08 16:27] normanjaeckel commented on #96
See https://github.com/OpenSlides/OpenSlides/pull/5802
User must have `organisation_management_level` `is_superuser` or `can_manage`

[2021-01-08 16:28] normanjaeckel commented on #96
Everybody can see all resources.

[2021-01-08 16:30] normanjaeckel commented on #77
See OpenSlides/OpenSlides#5802
User must have `organisation_management_level` `is_superuser` or `can_manage` or the user is part of the committee (see `committee/member_ids` or `committee/manager_ids`)

[2021-01-08 16:33] normanjaeckel commented on #48
Will be obsolete after https://github.com/OpenSlides/OpenSlides/pull/5802 is merged.

[2021-01-08 16:33] normanjaeckel commented on #49
Will be obsolete after https://github.com/OpenSlides/OpenSlides/pull/5802 is merged.

[2021-01-08 16:33] normanjaeckel commented on #47
Will be obsolete after https://github.com/OpenSlides/OpenSlides/pull/5802 is merged.

[2021-01-08 16:33] normanjaeckel commented on #46
Will be obsolete after https://github.com/OpenSlides/OpenSlides/pull/5802 is merged.

[2021-01-08 16:35] normanjaeckel commented on #50
See https://github.com/OpenSlides/OpenSlides/pull/5802

You need `organisation_management_level` `is_superuser` or `can_manage` or `can_manage_users`.

[2021-01-08 16:37] normanjaeckel commented on #51
You need `organisation_management_level` `is_superuser`, `can_manage` or `can_manage_users`

[2021-01-08 16:41] normanjaeckel commented on #55
Everybody can change its own password. @FinnStutzenstein Right? The meeting perm user.can_change_own_password is only relevant for temporary users.

[2021-01-08 16:41] normanjaeckel commented on #54
You need `organisation_management_level` `is_superuser`, `can_manage` or `can_manage_users`

[2021-01-08 16:41] normanjaeckel commented on #53
You need `organisation_management_level` `is_superuser`, `can_manage` or `can_manage_users`

[2021-01-08 16:42] normanjaeckel commented on #52
You need `organisation_management_level` `is_superuser`, `can_manage` or `can_manage_users`

[2021-01-08 16:42] normanjaeckel commented on #56
You need `organisation_management_level` `is_superuser`, `can_manage` or `can_manage_users`

[2021-01-08 16:43] normanjaeckel commented on #57
You need `organisation_management_level` `is_superuser`, `can_manage` or `can_manage_users`

If not, you can update yourself only for the field `about_me_$` and its populated fields.

[2021-01-08 16:45] normanjaeckel commented on #29
You need `organisation_management_level` `is_superuser` or `can_manage`.

[2021-01-08 16:46] normanjaeckel commented on #30
You need `organisation_management_level` `is_superuser` or `can_manage`.

[2021-01-08 16:46] normanjaeckel commented on #31
You need `organisation_management_level` `is_superuser` or `can_manage`.

[2021-01-08 16:46] normanjaeckel commented on #32
You have to be manager in the committee.

[2021-01-08 16:47] normanjaeckel commented on #34
You have to be manager in the committee.

[2021-01-08 16:47] normanjaeckel commented on #33
You have to be manager in the committee.

[2021-01-08 17:15] normanjaeckel opened #119 "Talk to me about new models.yml"

[2021-01-10 12:44] ostcar commented on #80
@normanjaeckel In the current implementation: If a submitter does not have the perm "can_see" he can not see his own motions. Is this correct?

Also, a supporter has no special permissions for "his" motions.

[2021-01-10 17:57] ostcar commented on #64
Tested for motion-polls.

TODO: Assignment-polls and other-polls

[2021-01-11 06:40] FinnStutzenstein commented on #55
currentl yes, right.

[2021-01-11 12:50] ostcar commented on #114
I fixed the typos locally. Everything else has its own issue. So after the typo-fix is merged, this will be closed.

[2021-01-11 12:53] ostcar commented on #97
Is there a reason you did not close this already? If so, please reopen.

[2021-01-11 12:53] #97 closed

[2021-01-11 13:32] ostcar commented on #50
@normanjaeckel do you mean `can_manage_organisation`?

[2021-01-11 13:33] #46 closed

[2021-01-11 13:34] #47 closed

[2021-01-11 13:34] #49 closed

[2021-01-11 13:34] #48 closed

[2021-01-11 19:41] ostcar commented on #79
This means, that `meeting/X/id` is also present for everyone.

[2021-01-11 20:03] ostcar commented on #79
@normanjaeckel  Is it correct, that someone with the permission "meeting.can_manage_settings" has not automatically the permission to see the frontpage? What permission does a user need to change the text of the frontpage? both?

[2021-01-11 21:13] ostcar commented on #57
@normanjaeckel as discussed: Please change the backend. Do not send the user-id in the payload, just use the request-user-id. Also, do not accept other fields then "about_me_$" in the payload.

[2021-01-11 21:15] ostcar commented on #45
@normanjaeckel  Please do not send a user_id in the payload but use the request-user-id

@ostcar change action

[2021-01-11 21:15] ostcar commented on #44
see update

[2021-01-11 21:15] ostcar commented on #43
see update

[2021-01-11 21:22] #114 closed

[2021-01-11 21:23] #50 closed

[2021-01-11 21:23] #77 closed

[2021-01-11 21:23] #90 closed

[2021-01-11 21:23] #96 closed

[2021-01-11 21:24] #119 closed

[2021-01-12 07:24] FinnStutzenstein commented on #64
This sounds wrong since users must see what to vote about.

[2021-01-12 07:27] FinnStutzenstein commented on #64
For polls:

global_yes global_no and global_abstain can be seen since they are flags, if these features are enabled. They do not contain actual vote values.

[2021-01-12 12:35] ostcar commented on #64
So I change it to *.can_see?

[2021-01-12 12:42] ostcar commented on #64
@FinnStutzenstein Please explain me again how the option works.

The current implementation is the following.

If the user has `can_manage` he can see every field.

If the user does not have `can_see` he can see nothing.

If the relevant poll is published, a user with `can_see` sees every field.

If the relevant poll is not published, the user sees every field, expect `yes`, `no` and `abstain`.

I

[2021-01-12 13:02] FinnStutzenstein commented on #64
This sounds good. We can think about restricting `vote_ids`, too, so a user cant see if there are votes, but this is a minor one I think.

[2021-01-12 20:02] ostcar commented on #64
I made all changes in PR #124

Here are the tests for unpublished polls. Is this correct? https://github.com/OpenSlides/openslides-permission-service/pull/124/files#diff-e2ca492755319ed08bb8a0bd637e817779e72fc935b031e6e4bc8e008e6ff289

[2021-01-13 07:17] FinnStutzenstein commented on #64
I've added a small comment. looks good so far

[2021-01-13 08:43] #64 closed

[2021-01-14 11:45] FinnStutzenstein opened #125 "Create a can_see_mediafile query"
An allowed check for retriving mediafiles is needed for checking, if the media service is allowed to deliver a file to a user. So the input is a user id and a mediafile id (Note: the request is only done for actual files, but the logic is independend if a mediafile is a file or a directory I think).

let **the meeting** be the meeting of the mediafile.

The user can see the mediafile, if
- He is s

[2021-01-15 10:12] normanjaeckel commented on #80
Yes I think

[2021-01-15 10:18] normanjaeckel commented on #79
Is this an open question? Please ask @emanuelschuetze about the relation of "meeting.can_see_frontpage" and "meeting.can_manage_settings".

[2021-01-15 10:38] normanjaeckel commented on #45
Please check again: The permission service must check that the personal note belongs to the request user.

[2021-01-15 10:39] normanjaeckel commented on #44
Please check again: The permission service must check that the personal not belongs to the request user.

[2021-01-15 10:39] normanjaeckel commented on #43
Here the permission service does not have to check anything.

[2021-01-15 10:40] normanjaeckel commented on #43
EDIT: The permission service must ensure that the request user can see the content object. It should not be possible to create personal notes to arbitrary objects of all meetings ever (e. g. a client sends random content_object_ids to spam the DB).

[2021-01-15 10:44] normanjaeckel commented on #57
Please check again: `user_id` is not part of the payload.

[2021-01-15 10:45] normanjaeckel commented on #57
I think the others want that email and username can also be changed: https://github.com/OpenSlides/openslides-backend-coordination/issues/141

[2021-01-17 07:26] ostcar commented on #125
@FinnStutzenstein Is a db like this valid?
[code]
So a mediafile from meeting 1 can be a logo in meeting 2?

[2021-01-17 07:36] ostcar commented on #125
@FinnStutzenstein please have a look at the test-file in https://github.com/OpenSlides/openslides-permission-service/pull/128

I this correct?

The mediafile collection has the filed `is_public` is this also relevant?

[2021-01-18 06:31] FinnStutzenstein commented on #125
No

Yes, I overlooked the access part with the dedicated access groups. I updated the description above.

[2021-01-18 11:57] ostcar commented on #125
@FinnStutzenstein could you have another look over the test?

https://github.com/OpenSlides/openslides-permission-service/blob/b295f1976ea5676251c3338af2ebaea887437b6c/tests/mediafile/can_see_mediafile.yml

[2021-01-19 06:26] FinnStutzenstein commented on #125
Please duplicate the `on projector` three times:
- without the `projector.can_see`
- without the `current_projector_id`
- with the user being in a different meeting.

It looks good so far

[2021-01-19 12:46] ostcar commented on #125
I added the tree new test cases. I am not sure in I understand you correctly. Please have a look at the new commit:

https://github.com/OpenSlides/openslides-permission-service/pull/128/commits/cc8be85ec05c1d3da668ea0a19e13c53aca43541

[2021-01-21 06:49] #99 closed

[2021-01-21 06:50] ostcar commented on #79
@emanuelschuetze ping

[2021-01-22 15:14] normanjaeckel opened #133 "Committee managers must be able to see the committee members."

[2021-01-23 07:46] ostcar commented on #133
Please be more specific.

Which fields can they see? Do they have the permission "user.can_see" in all meetings or is it something special? Maybe they have "user.can_manage"?

What about committee members? Can they see other members?

[2021-01-23 08:19] ostcar commented on #57
The backend is parsing the payload. The action returns true, if the user_id is not 0. Then all fields can be updated, that are allowed in the payload.

[2021-01-23 08:45] ostcar commented on #56
Is this true for temporary users?

[2021-01-23 09:02] ostcar commented on #55
I thought temporary users are also user objects. So I have to check if the request user is a temporary user?

[2021-01-23 09:59] #54 closed

[2021-01-23 09:59] #57 closed

[2021-01-23 09:59] #51 closed

[2021-01-23 09:59] #52 closed

[2021-01-23 09:59] #53 closed

[2021-01-23 10:57] ostcar commented on #125
@FinnStutzenstein: What do you mean with "He is admin in the meeting". Do you mean the request user is in the field `meeting/X/admin_group_id` or you you mean the request user has the permission `mediafile.can_manage`?

Currently, a user with `mediafile.can_manage` can not see mediafiles where `is_public=false` or is not in `inherited_access_group_ids`.

[2021-01-23 11:59] ostcar commented on #45
Already done

[2021-01-23 11:59] #45 closed

[2021-01-23 12:00] #44 closed

[2021-01-23 15:39] ostcar commented on #43
This is not as easy as it sounds. I currently don't have a function to check "can_see_fqid" and it would be hard to implement it. (How would you check it, with fqid+ "/id"? :) )

So this is a wont fix.

[2021-01-23 15:39] #43 closed

[2021-01-23 16:03] ostcar commented on #42
@normanjaeckel ping

[2021-01-23 16:03] ostcar commented on #41
@normanjaeckel ping

[2021-01-23 16:04] ostcar commented on #40
@normanjaeckel ping

[2021-01-23 16:18] ostcar commented on #39
@normanjaeckel I don't understand this action. Please talk about it via telephone.

[2021-01-23 16:56] #37 closed

[2021-01-23 16:56] #38 closed

[2021-01-23 17:15] #35 closed

[2021-01-23 18:54] ostcar commented on #24
With the perm `list_of_speakers.can_manage`: is it possible to add someone who does not have the perm `list_of_speakers.can_be_speaker`?

If yes: It seams wrong that the permission `list_of_speakers.can_be_speaker` has to meanings. It means, that someone can put himself on the list of speaker AND is a requirement  to be put on the list by a manager.

[2021-01-23 18:59] ostcar commented on #24
The current implementation is funny. The permission `list_of_speakers.can_manage` does not automatically give the permission `list_of_speakers.can_be_speaker`. So a manager can add any other user but not himself (because in this case he would need the perm `list_of_speakers.can_be_speaker`). :)

[2021-01-23 19:00] ostcar commented on #25
Already done

[2021-01-23 19:00] #25 closed

[2021-01-23 19:03] ostcar commented on #26
The permission `assignment.can_nominate_other` does not give the permission `assignment.can_nominate_self`. Can someone with `can_nomidate_other` nominate himself?

[2021-01-23 19:06] ostcar commented on #26
I don't understand what you mean. It is not possible to add the request-user in the voting phase but it is possible to add other users in the voting phase?

[2021-01-23 19:13] ostcar commented on #26
Is this true only for the phase `voting` or also for the phase `finished`? So has a manager  the permission to add himself to a finished assignment? Can he add others?

[2021-01-23 19:17] ostcar commented on #27
Is it also possible to delete others with that perm?

[2021-01-23 19:32] ostcar commented on #28
Would it be possible for you to rename the action to `assignment.sort` and change the payload value `assignment_id` to `id`?

I think this is better because the action does not sort one candidate. It sorts (the candidates of) an assignment.

It would help me, because I have generic code to handel an action with the name `COLLECTION.action` when there is the field `id` in the payload that is the id

[2021-01-23 19:51] #34 closed

[2021-01-23 19:51] #29 closed

[2021-01-23 19:51] #30 closed

[2021-01-23 19:51] #31 closed

[2021-01-23 19:51] #32 closed

[2021-01-23 19:51] #33 closed

[2021-01-23 20:26] normanjaeckel opened #160 "Create config map for permissions"
See https://github.com/OpenSlides/openslides-permission-service/issues/28.

[2021-01-23 20:45] normanjaeckel commented on #26
Please talk to @emanuelschuetze

[2021-01-23 20:48] normanjaeckel commented on #27
Conclusion:

Delete yourself:
- Either assignment.can_manage or assignment.can_nominate_self (but only in first state).

Delete other:
- assignment.can_manage

[2021-01-23 20:50] normanjaeckel opened #139 "Implement motion.update_metadata"

[2021-01-23 20:51] normanjaeckel opened #140 "Implement organisation.update"
Needs can_manage_organisation or superadmin in organisation_management_level.

[2021-01-23 20:54] normanjaeckel commented on #24
It is possible to add someone who does not have can_be_speaker to the list. But not himself of course. So can_be_speaker is not a requirement to be put on the list by a manager.

[2021-01-23 20:55] normanjaeckel commented on #55
Yes.

[2021-01-23 20:56] normanjaeckel commented on #56
No. For tmp users you should have user.can_manage in the relevant meeting.

[2021-01-23 21:00] normanjaeckel opened #141 "Implement poll.delete, option.delete and vote.delete"

[2021-01-23 21:01] normanjaeckel opened #142 "Implement resource.delete"
Probably you need can_manage_organisation in the orga level.

[2021-01-23 21:02] normanjaeckel opened #143 "Implement user.set_present"

[2021-01-23 21:03] normanjaeckel opened #144 "Implement user.set_password_temporary"

[2021-01-23 21:07] normanjaeckel commented on #133
Committee managers can see some fields. I am not sure. Please double check.
[code]

Committee members can not see other members (they may see them via a meeting permission but this does not depend on their membership).

[2021-01-24 07:10] ostcar commented on #55
Already done

[2021-01-24 07:11] #55 closed

[2021-01-24 09:08] ostcar commented on #27
Already done

[2021-01-24 09:08] #27 closed

[2021-01-24 09:09] ostcar commented on #28
I would like to keep you assigned until you (and you backend team) gave me an answer.

[2021-01-24 09:54] ostcar commented on #133
@normanjaeckel I implemented it with the fields you gave me. I don't know what I should double check.

[2021-01-24 10:57] #56 closed

[2021-01-24 10:57] #133 closed

[2021-01-24 10:57] #140 closed

[2021-01-24 10:57] #142 closed

[2021-01-25 09:22] FinnStutzenstein opened #148 "Allow development of other components by enabling is_allowed on errors"
On 5xx errors (so non-valid is_allowed responses), log it and send a 200 with `true`. This blocks the development of other parts of OpenSlides (3 devs reported this issue to me this morning blocking their work.)

@GabrielInTheWorld @r-peschke @reiterl

[2021-01-25 12:41] ostcar commented on #148
I can do this tomorrow. If you need the fix today, maybe the backend can do it? (when 500 is received, log the message and handel it as success.)

[2021-01-26 06:40] FinnStutzenstein commented on #160
Please give more details where should `assignment_candidate.sort` be renamed to what.

[2021-01-26 12:51] #148 closed

[2021-01-26 15:24] FinnStutzenstein commented on #125
I think the mediafile manager should always see every file. so if the user is an admin or has `mediafile.can_manage`, he can see the mediafile.

[2021-01-26 17:46] ostcar commented on #26
Talked to emanuel. The current implementation is correct: The manager can assign himself

[2021-01-26 17:46] #26 closed

[2021-01-26 17:47] ostcar commented on #24
@FinnStutzenstein why did you unassign emanuel?

[2021-01-26 18:00] ostcar commented on #24
I talked with emanuel. It is correct, that the manager can assign himself. This is the current implementation. I will add some tests to prove it.

[2021-01-27 07:50] #24 closed

[2021-01-27 18:31] normanjaeckel commented on #160
@ostcar wrote

[2021-01-27 18:37] #125 closed

[2021-01-28 08:58] jsangmeister commented on #160
Every sort action is named this way (e.g. `motion.sort` sorts motions and takes the id of the "container", in this case the meeting; `motion_submitter.sort` sorts motion submitters and takes the overlaying `motion_id`). So it is correct that `assignment_candidate.sort` sorts candidates and takes the `assignment_id` as payload. @ostcar you should have (by your logic) the same problem for all these

[2021-01-28 12:24] FinnStutzenstein commented on #160
Yes, renaming would result in conflicts. `motion.sort`: Does it sort submitters or categories? So the current naming is well suited.

[2021-01-28 13:07] ostcar commented on #160
You are right. Please rename:

[code]

[2021-01-28 13:56] jsangmeister commented on #160
IIRC, this is the way we had it before, but we specifically decided to change this to the current naming. I think it's more verbose, too. I would suggest we keep it this way, it just adds unneeded workload and overhead. What's the problem that you can't solve without the renaming?

[2021-01-28 14:01] ostcar commented on #160
I checked the list in the permission service and I think there are a lot of bugs.

@normanjaeckel [you gave me](https://github.com/OpenSlides/openslides-permission-service/blob/2c3ae33c7948ad100da8e40bb404882003af232e/internal/collection/autogen_def.go#L66) a list of generic actions. The requirement of a generic action is:

1. the payload contains the field `meeting_id` or
2. the payload contains

[2021-01-28 14:09] jsangmeister commented on #160
I am against renaming to satisfy your requirements. Then, next week, I have an issue in the backend that could be solved by renaming another bunch of actions and we spend all our time just renaming things. Please just add some kind of config map which tells the code what to do for each action.

[2021-01-29 08:40] ostcar commented on #160
I think we have to find an agreement. It does not work that one of us chooses the name of the actions and the others have to follow without having to say anything about it.

So we have to discuss on all the names and when we all agree on it, we can freeze the list of names.

[2021-01-30 12:42] normanjaeckel opened #158 "Proposal: Add new GitHub action to validate permissions.yml"
After https://github.com/OpenSlides/OpenSlides/pull/5836 is merged you may add a new GitHub action to check that permissions.yml does contain all perms that are in the models.yml list (and not more or other). This is to get a hint on further changes.

[2021-01-30 13:22] normanjaeckel commented on #160
@ostcar Maybe we should check the list via a script (and put it into a GitHub action in permission service)? Unfortunatelly I do not have time for this at the moment.

The question of renaming: I do not have a big preference. You will find a solution, I hope ... ;-)

[2021-01-31 09:41] ostcar commented on #158
As we talked about it, there will not be an action in this repo to validate the permission.yml

[2021-01-31 09:41] #158 closed

[2021-02-01 16:54] ostcar commented on #160
@jsangmeister I still think that the first part of the action SHOULD be the name of the collection that is modified. But since I will probably will not convince you, you are right, that I need a config map. Could you create it for me?

What I need is:
1. The name of the action.
2. The required permission for the permission (see [here](https://github.com/OpenSlides/openslides-permission-service/blo

[2021-02-02 06:54] FinnStutzenstein commented on #160
We did this some month ago in the backend coordination repo where we fixed all names, behaviours and payloads of the actions.

[2021-02-04 13:07] jsangmeister commented on #160
The necessary information should all be available in the [coordination repo](https://github.com/FinnStutzenstein/openslides-backend-coordination/) and the [`models.yml`](https://github.com/OpenSlides/OpenSlides/blob/openslides4-dev/docs/models.yml) (except the required permission, but there you know more than me).

[2021-02-04 13:08] jsangmeister commented on #160
I'm gonna go ahead and transfer this to the permission service since this is clearly not a backend issue anymore.

[2021-02-04 20:30] ostcar commented on #160
I don't want to go to all the issues from the coordination issue. I wont fix this.

@emanuelschuetze this is important

[2021-02-05 11:36] normanjaeckel opened #163 "Remove permission.yml"
Remove the file here after https://github.com/OpenSlides/OpenSlides/pull/5855 is merged.

[2021-02-05 11:42] normanjaeckel commented on #160
What is the status of this issue now?

[2021-02-05 11:46] normanjaeckel commented on #40
Request user must be in the read_groups and write groups of the section of this comment.

[2021-02-05 11:47] normanjaeckel commented on #41
Request user must be in the read_groups and write groups of the section of this comment.

[2021-02-05 11:48] normanjaeckel commented on #42
Request user must be in the read_groups and write groups of the section of this comment.

[2021-02-05 11:49] normanjaeckel commented on #28
I think I can not do anything here until the question in reference issue is solved.

[2021-02-05 11:55] normanjaeckel commented on #139
I think you need motion.can_manage_metadata.

[2021-02-05 11:58] normanjaeckel commented on #141
You need motion.can_manage or assignment.can_manage according to what kind of poll it is.

[2021-02-05 12:04] normanjaeckel commented on #143
Meeting settings must have enabled: users_allow_self_set_present Then every user can use this view (for himself of course).

[2021-02-05 12:21] jsangmeister commented on #160
Well, it seems like someone has to create this config map for @ostcar. Feel free to do it ;)

[2021-02-05 12:21] normanjaeckel commented on #39
Please recheck this action. We want to add some new fields that are for managers only.

[2021-02-05 12:22] normanjaeckel commented on #39
See https://github.com/OpenSlides/openslides-backend-coordination/issues/25

[2021-02-05 12:24] normanjaeckel commented on #144
You need either the same as for user.set_password or you have user.can_manage in the meeting where the user belongs to.

[2021-02-05 13:03] normanjaeckel commented on #163
PR in main repo is merged.

[2021-02-05 14:00] ostcar commented on #163
I have to fix the go generate-skript in this repo. Please tell me when you moved the permission-file to the main repo. Afterwards, I will make the changes here.

[2021-02-06 13:05] #79 closed

[2021-02-07 21:10] ostcar commented on #39
I don't understand it

[2021-02-08 09:41] normanjaeckel commented on #163
The main repo now contains the permission.yml so you can delete it here and fix your scripts.

[2021-02-08 09:42] normanjaeckel commented on #163
@ostcar May have a look at this.

[2021-02-08 09:44] normanjaeckel commented on #39
The payload will change soon and then the permission service should be double checked that the action works correctly. Maybe there is not much work.

[2021-02-08 09:45] ostcar commented on #163
See #164

[2021-02-09 13:39] r-peschke opened #166 "Requesting a Point-of-order item for a non admin-user, gives http 500 response"
even with the user being member of the group **admin**

[2021-02-10 09:29] FinnStutzenstein commented on #166
Are you sure, that this is a auth related issue and not the permission service?

[2021-02-10 09:55] r-peschke commented on #166
I'm sure it is the permission service;-)

[2021-02-10 09:55] r-peschke opened #165 "Requesting a Point-of-order item for a non admin-user, gives http 500 response"
even with the user being member of the group **admin**

[2021-02-10 13:27] ostcar commented on #166
Can you explain to me what a point-of-order item is?

What request did you send? What was the log message of the permission service?

[2021-02-10 15:10] r-peschke commented on #166
Point-of-order is "ein Geschäftsordnungsantrag".

The request is the action speaker.create with the 'point_of_order' set to True.
backend_1           | DEBUG:openslides_backend.http.application:Request contains JSON: [{'action': 'speaker.create', 'data': [{'list_of_speakers_id': 3, 'marked': False, 'point_of_order': True}]}].

Server response from backend is:
backend_1           | DEBUG:openslides

[2021-02-10 15:54] ostcar commented on #166
I think we have to redirect the issue once more. To validate the payload is the job of the backend. The permission-service expects a valid payload.

The useradmin does not get an error, because he gets always true. Therefore the permission service does not look into the payload.

[2021-02-11 08:51] jsangmeister commented on #166
There are multiple issues here: Yes, the backend should validate the payload first. This will be changed. Nevertheless, the permission service should NEVER just send a 500 response. If the payload is invalid/a field is missing for the permission service, you should return an appropriate response.

[2021-02-11 08:56] ostcar commented on #166
I can use any http status code, that you like.

Which status code should I use, if there is an invalid state? (Invalid payload or invalid database)

[2021-02-11 09:16] FinnStutzenstein commented on #166
For `is_allowed` return `false` with a 200. The permission service should never return a 500er if it is a user-input error. 400 is ok for formal errors (like sending `["YOLO"]`). But if you have problems checking perms due to errors in the payloads (missing fields, ...) it is a clear 200 `false` since the perms service cannot grant permissions on incomplete/wrong data.

[2021-02-11 09:17] FinnStutzenstein commented on #166
And a log message what went wrong would be nice during debugging.

[2021-02-11 09:32] ostcar commented on #166
I think what you are saying is wrong. Please let us talk about it via telephone.

[2021-02-12 07:04] FinnStutzenstein opened #167 "Do not check for settings"
E.g. user.set_present: It should be allowed if the request user == user in payload else the request user has user.can_manage (or anything higher)

Edit: I changed the check above

Please make sure, that no settings are used in the permission service (Except permission/auth-relevant ones like `enable_anonymous`). The reason is that we need a clear line, what is checked here and in the backend to av

[2021-02-12 07:31] jsangmeister commented on #167
Yes, this is the line we currently follow in the backend. We assume the permissions are correct and check additional things like settings etc.

One exception: For some actions, we check if the user is anonymous (e.g. `set_password_self` or `personal_note.create`, which are not permitted fr anonymous). Should this checks be removed and the permission service does that instead?

[2021-02-12 09:11] r-peschke opened #168 "More information in case of server error 500"
Please give more information about Action.name and payload. This could be in logging.debug, preferred, or in Exception.message.

For instance these are the logs I got this morning from an action with nested actions:
backend_1           | DEBUG:urllib3.connectionpool:http://permission:9005 "POST /internal/permission/is_allowed HTTP/1.1" 500 99
backend_1           | DEBUG:openslides_backend.services

[2021-02-12 09:31] ostcar commented on #168
What error message would you like instead?

[2021-02-12 10:14] r-peschke commented on #168
Minimum should be the Action.name and the payload.  Now you only give some missing payload fields, without referring to action.name and given payload.
In the concret case I identified the action as speaker.sort. This has only 2 required fields, list_of_speakers_id and speaker_ids. What payload/schema do you refer to?
Yesterday we changed the sequence in backend. Now we first check the action-paylo

[2021-02-12 11:29] ostcar commented on #168
@r-peschke I added the action name and the payload. Please test #169 and tell me, if this is ok for you. If you need more infos (and if so, which infos)

[2021-02-12 12:47] #168 closed

[2021-02-21 19:43] #144 closed

[2021-02-21 19:43] #163 closed

[2021-02-21 19:43] #40 closed

[2021-02-21 19:43] #41 closed

[2021-02-21 19:43] #42 closed

[2021-02-21 19:43] #139 closed

[2021-02-21 19:43] #141 closed

[2021-02-21 19:43] #143 closed

[2021-03-08 08:43] #167 closed

[2021-05-20 10:26] FinnStutzenstein opened #185 "Remove old permission"
`user.can_change_own_password` was removed and replaced with the collection field `user/can_change_own_password`

[2021-05-22 06:17] ostcar commented on #185
Is this relevant? The permission is only used in the action "user.set_password_self". All actions should be implemented by the backend service. Was this action already be implemented in python? If so, we can close this here.

[2021-05-23 10:52] ostcar commented on #28
@FinnStutzenstein Is this action already implemented by the backend? Can we close this issue here?

[2021-05-23 10:52] ostcar commented on #39
@FinnStutzenstein Is this action already implemented by the backend? Can we close this issue here?

[2021-05-23 10:54] ostcar commented on #160
Since I was the only one requesting this and I am not responsible anymore for action permissions, I close this issue.

[2021-05-23 10:54] #160 closed

[2021-05-23 10:56] ostcar commented on #166
I am certain this can be closed. Since the permissions are checked inside the backend now, there is nothing so general to be fixed in this repo anymore. If I am wrong, then please reopen.

[2021-05-23 10:56] #166 closed

[2021-05-27 07:17] FinnStutzenstein commented on #185
Ok,
I just wanted to check, that it is not used somewhere else.

[2021-05-27 07:17] #185 closed

[2021-06-03 10:16] #39 closed

[2021-06-03 10:16] #28 closed